@media screen {
	#write {
		padding-bottom: 300px;
	}
}

h1 {
	text-align: center;
}

h5 {
	text-align: right;
}

h6 {
	text-align: center;
}

hr {
	page-break-after: always;
}

/* 修正暗色footer边框过亮 */
footer.ty-footer {
	border-top: var(--window-border);
}

/* 修正文件树图标与文字未对齐 */
.file-node-content {
	display: flex;
	align-items: center;
	padding-bottom: 4px;
}

/* 退出显示源码 */
/* .typora-sourceview-on #toggle-sourceview-btn {
  background: var(--bg-color);
}
.typora-sourceview-on #toggle-sourceview-btn:hover {
  background: var(--item-hover-bg-color);
} */
