@import "drake/drake.css";

:root {
    --text-color: #333333;
    --bg-color: #ffffff;

    --drake-accent: #e95f59;
    --drake-highlight: #d63200;
    --code-block-bg-color: #f6f8fa;
    --code-block-text-color: #24292e;
    --title-text-color: #273849;
    /* --blockquote-bg-color: #fdefee; */
	--blockquote-bg-color: rgba(233,95,89,0.1);
    --strong-text-color: #ffffff;
    --strong-bg-color: var(--drake-accent);
    --yaml-text-color: #777777;
    --yaml-bg-color: #f7f7f7;
    --table-border-color: #dfe2e5;
    --table-header-bg-color: #f2f2f2;
    --table-bg-color: #fafafa;
    --input-bg-color: #f2f2f2;
    --btn-hover-bg-color: #f2f2f2;

    --checkbox-checked: #65b73b;
    --checkbox-unchecked: #333333;
}

/**
    code render
    Name: IntelliJ IDEA light theme
    From IntelliJ IDEA by JetBrains
 */
.cm-s-inner span.cm-number {
    color: #4A86E8;
}

.cm-s-inner span.cm-atom {
    color: #9E880D;
}

.cm-s-inner span.cm-def {
    color: #00f;
}

.cm-s-inner span.cm-variable {
    color: black;
}

.cm-s-inner span.cm-variable-2 {
    color: #00627A;
}

.cm-s-inner span.cm-variable-3, .cm-s-inner span.cm-type {
    color: #00627A;
}

.cm-s-inner span.cm-property {
    color: black;
}

.cm-s-inner span.cm-keyword {
    color: #708;
}

.cm-s-inner span.cm-operator {
    color: black;
}

.cm-s-inner span.cm-comment {
    color: #787878;
}

.cm-s-inner span.cm-string {
    color: #008000;
}

.cm-s-inner span.cm-string-2 {
    color: #008000;
}

.cm-s-inner span.cm-qualifier {
    color: black;
}

.cm-s-inner span.cm-error {
    color: red;
}

.cm-s-inner span.cm-attribute {
    color: black;
}

.cm-s-inner span.cm-tag {
    color: black;
}

.cm-s-inner span.cm-link {
    color: #4A86E8;
}

.cm-s-inner span.cm-builtin {
    color: black;
}

.cm-s-inner span.cm-bracket {
    color: black;
}