@import "drake/drake.css";

:root {
    --bg-color: #2b2b2b;
    --text-color: #acb7c4;
    --control-text-color: var(--text-color);
    --meta-content-color: var(--text-color);
    --active-file-border-color: var(--drake-accent);
    --rawblock-edit-panel-bd: var(--code-block-bg-color);
    --item-hover-bg-color: #222222;
    --active-file-bg-color: var(--item-hover-bg-color);
    --mermaid-theme: night;
    --blur-text-color: rgba(172, 183, 196, 0.5);
    --md-char-color: #535455;
    --active-file-bg-color: var(--item-hover-bg-color);
    --side-bar-bg-color: var(--bg-color);
    --search-select-bg-color: #ffffff;
    --search-select-text-color: var(--bg-color);
    --item-hover-bg-color: #3c3d3e;
    --select-text-bg-color: #3473B068;
    --window-border: 1px solid #282828;

    --drake-accent: #3473b0;
    --drake-highlight: #58a1d6;
    --code-block-bg-color: #3c3d3e;
    --code-block-text-color: #A9B7C6;
    --title-text-color: #acb7c4;
    --blockquote-bg-color: rgba(52, 115, 176, 0.1);
    --strong-text-color: #000000;
    --strong-bg-color: var(--drake-highlight);
    --yaml-text-color: var(--code-block-text-color);
    --yaml-bg-color: var(--code-block-bg-color);
    --table-border-color: #535455;
    --table-header-bg-color: #3c3d3e;
    --table-bg-color: #3c3d3e;
    --input-bg-color: #3c3d3e;
    --btn-hover-bg-color: #3c3d3e;

    --checkbox-checked: #65b73b;
    --checkbox-unchecked: #acb7c4;
}

/**
    code render
    Name: IntelliJ IDEA darcula theme
    From IntelliJ IDEA by JetBrains
 */
.cm-s-inner.CodeMirror {
    background: var(--code-block-bg-color);
    color: var(--code-block-text-color);
}

.cm-s-inner span.cm-meta {
    color: #BBB529;
}

.cm-s-inner span.cm-number {
    color: #6897BB;
}

.cm-s-inner span.cm-keyword {
    color: #CC7832;
}

.cm-s-inner span.cm-def {
    color: #FFD760;
}

.cm-s-inner span.cm-variable {
    color: #A9B7C6;
}

.cm-s-inner span.cm-variable-2 {
    color: #A9B7C6;
}

.cm-s-inner span.cm-variable-3 {
    color: #9876AA;
}

.cm-s-inner span.cm-type {
    color: #AABBCC;
}

.cm-s-inner span.cm-property {
    color: #FFC66D;
}

.cm-s-inner span.cm-operator {
    color: #A9B7C6;
}

.cm-s-inner span.cm-string {
    color: #6A8759;
}

.cm-s-inner span.cm-string-2 {
    color: #6A8759;
}

.cm-s-inner span.cm-comment {
    color: #787878;
}

.cm-s-inner span.cm-link {
    color: #CC7832;
}

.cm-s-inner span.cm-atom {
    color: #CC7832;
}

.cm-s-inner span.cm-error {
    color: #BC3F3C;
}

.cm-s-inner span.cm-tag {
    color: #E8BF6A;
}

.cm-s-inner span.cm-quote {
    color: #a6e22e;
}

.cm-s-inner span.cm-attribute {
    color: #9876AA;
}

.cm-s-inner span.cm-qualifier {
    color: #6A8759;
}

.cm-s-inner span.cm-bracket {
    color: #E8BF6A;
}

.cm-s-inner span.cm-builtin {
    color: #FF9E59;
}

.cm-s-inner span.cm-special {
    color: #FF9E59;
}

.cm-s-inner span.cm-matchhighlight {
    color: #FFFFFF;
    background-color: rgba(50, 89, 48, .7);
    font-weight: normal;
}

.cm-s-inner span.cm-searching {
    color: #FFFFFF;
    background-color: rgba(61, 115, 59, .7);
    font-weight: normal;
}

.cm-s-inner .CodeMirror-cursor {
    border-left: 1px solid #A9B7C6;
}

.cm-s-inner .CodeMirror-gutters {
    background: #313335;
    border-right: 1px solid #313335;
}

.cm-s-inner .CodeMirror-guttermarker {
    color: #FFEE80;
}

.cm-s-inner .CodeMirror-guttermarker-subtle {
    color: #D0D0D0;
}

.cm-s-inner .CodeMirrir-linenumber {
    color: #606366;
}

.cm-s-inner .CodeMirror-matchingbracket {
    background-color: #3B514D;
    color: #FFEF28 !important;
}

.cm-s-inner .CodeMirror-selected {
    background: #214283 !important;
}

.cm-s-inner .CodeMirror-selectedtext {
    background: #214283 !important;
}

.cm-s-typora-default .CodeMirror-selectedtext {
    background: var(--select-text-bg-color) !important;
}

.cm-overlay.CodeMirror-selectedtext {
    background: var(--select-text-bg-color) !important;
}

.cm-s-inner div.CodeMirror-cursor {
    border-left: 1px solid #ffffff;
}