/* page-break: Firefox, Chrome, 以及 Safari 不支持属性值 "avoid". */
body{
    /* border:1px solid black; for debug */
    padding:0 !important;
    margin:0 !important;
	font-family:system-ui, FontAwesome;
}
/* 正文区基本属性 */
#write {
   font-family:system-ui,宋体, FontAwesome;
   /* font-size:12pt; */
   /* font-size:7.875pt; */
   font-size:10.5pt;
   max-width: 21cm; /*A4标准宽度*/
   border:1px solid #CCC ; /* 添加一个淡灰色的边框 */
}
/*页边距处理*/
@media screen{
    #write{
       padding:2.54cm 3.18cm;
    }
}
@media print{
    #write{
       padding:0 3.18cm !important;
       margin:0 !important;
    }
}
@page{
	margin:2.54cm 0; /*上下/左右 边距，参考了word的默认边距*/
}

#write p{
	text-align:justify;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:bold;
	@media print{
    page-break-after:avoid !important;
	}
}
/*引言*/
blockquote{
	font-family:system-ui,楷体, FontAwesome;
	border-left:3px solid grey;
	padding-left:10px;
	color:grey;
}
/* 标题属性 */
h1 {
	text-align:center;
    font-size:18pt;
    /*page-break-before:always!important;*/
}
h2 {
	font-family:system-ui,仿宋, FontAwesome;
	/* text-align:center; */
	font-size:14pt;
	border-bottom: 1px solid #ccc;
}
h3 {
	font-family:system-ui,黑体, FontAwesome;
	font-size:12pt;
}
h4 {
	/* text-align:center; */
	font-family:system-ui,楷体, FontAwesome;
	font-size:10pt;
}
h5 {
	text-align: right;
    font-weight: normal;
	font-size:9pt;
}
h6 {
	text-align: center;
    color: #444;
    font-weight: normal;
	font-size:8pt;
}
.md-fences,
code {
	font-size: 0.9em;
    color: #d30;
    font-family: monospace, FontAwesome;
}
/* 目录标题属性 */
.md-toc-h2 {
	font-family:system-ui,仿宋, FontAwesome;
}
.md-toc-h3 {
	font-family:system-ui,黑体, FontAwesome;
}
.md-toc-h4 {
	font-family:system-ui,楷体, FontAwesome;
}
/* 三线表 */
#write table{
/* 	border-top: 1.5pt solid #ccc;
	border-bottom: 1.5pt solid #ccc; */
	font-family:system-ui,宋体, FontAwesome;
	font-size:10.5pt;
	/* text-align:center; */
    page-break-inside:avoid!important;
}
#write table td{
	padding:7px;
}
#write table th{
	padding:7px;
}
#write thead{
	border-bottom: 0.75pt solid #ccc;
	font-family:system-ui,黑体, FontAwesome;
	font-size:10.5pt;
}
@media print{
	img{
		page-break-inside:avoid !important;
	}
}
