:root {
	--bg-color:  #ffffff; /*change background*/
	--text-color: #333333; /*change text color*/
	--md-char-color: #C7C5C5; /*change color of meta characetrs like `*` in markdown */
	--meta-content-color: #5b808d; /*change color of meta contents like image text or link address in markdown */
 
	--primary-color: #428bca; /* color of primary buttons */
	--primary-btn-border-color: #285e8e;
	--primary-btn-text-color: #fff;
 
	--window-border: 1px solid #eee; /*border for sidebar, etc*/
 
	--active-file-bg-color: #eee; /*background color if list item in file tree or file list*/
	--active-file-text-color: inherit;
	--active-file-border-color: #777;
 
	--side-bar-bg-color: var(--bg-color); /*change background of sidebar*/
	--item-hover-bg-color: rgba(229, 229, 229, 0.59); /*background of control items when hover, like menu in sidebar*/
	--item-hover-text-color: inherit;
	--monospace: monospace; /*monospace font for codes, fences*/
 }
 /** example **/
html, body {
	background-color: #fefefe; /*background color of the window and titlebar*/
	font-family: helvetica, sans-serif; /*custom font*/

  }
  
  html {
	font-size: 14px; /*default font size*/
  }
  
  #write {
	max-width: 90%; /*adjust size of the wriring area*/
	font-size: 1rem; /*basic font size*/
	color: #555; /*basic font color*/

  }